.about {
  height: 70vh;
  background-color: var(--secondary_color);
  color: var(--color_white);
  display: flex;
  width: 100%;
  padding-top: 15rem;
  gap: 10rem;
  padding-right: 1rem;
  line-height: 3rem;
}

.socials {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.socials p {

}

.media{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.vision h1{
  color: var(--light_color);
  font-weight: 600;
}
