.topHeader{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color:var(--light_color#DFD0B8);
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media  screen and (max-width: 44.375em){
    .topHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .welcome{
        margin-bottom: 1rem;
        justify-content: center;
    }

}
.welcome{
    text-decoration: none;
    text-transform: uppercase;
}

.social_accounts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.icons{
fill: color(var(--primary_color#153448));
align-items: center;
justify-content: center;
}

.accounts{
    display: flex;
    gap: 5rem;

}