.introduct{
    background-color: var(--secondary_color);
    color: var(--color_white);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.introduct p{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.partone{
display: flex;
flex-direction: row;
width: 100%;
gap: 2rem;
margin-bottom: 0;
padding: 1rem;
background-color: var(--primary_color);
color: var(--color_white);
}

.part2{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--primary_color);
    color: var(--color_white);
    }

    .them_tracks{
        background-color: var(--secondary_color);
        padding: 2rem;
        border-radius: 10%;
        opacity: 2;
        
        
    }

    .them_tracks:hover{
background-color: var(--primary_color);
transition: all .5s ease-in-out;


    }


.contacts{
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: .7rem;
    margin-bottom: 2rem;
}

.contacts label{
    text-transform: capitalize;
    color: var(--primary_color);
    font-size: large;
    font-weight: 600;
}

.contacts input{
    height: 2rem;
    padding: 2rem 1.5rem;
    color: black;
}
.button{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: var(--primary_color);
    color: var(--color_white);
    font-weight: 400;
  
}

.button:hover{
    background-color: var(--secondary_color);
}