.introduct{
    background-color: var(--secondary_color);
    color: var(--color_white);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.introduct p{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: .7rem;
    margin-bottom: 2rem;
}

.contacts label{
    text-transform: capitalize;
    color: var(--primary_color);
    font-size: large;
    font-weight: 600;
}

.contacts input{
    height: 2rem;
    padding: 2rem 1.5rem;
    color: black;
}
.contacts button{
    height: 2rem;
}