.timetable{
    display: flex;
    flex-direction: column;
    background-color: var(--light_color);
    width: 80%;
}

.cyber{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    width: 100%;
    margin-left: 10rem;
    padding: 2rem;
}

.head{
background-color: var(--light_color);
color: var(--primary_color);
width: 100%;
}

.foot{
    background-color: var(--primary_color);
    color: var(--color_white);
    width: 100%;
}

.schedule{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_color);
    color:var(--color_white);
}